{% extends "base.html"%}

{% block content %}
{% for post in post_list %}
<article>
  <header>
    <h1>
      <a href="{% url 'post_detail' post.id %}">{{ post.title }}</a>
      <br />
      <small><span class="glyphicon glyphicon-calendar"></span>{{ post.updated }}</small>
    </h1>
  </header>
  <content>
    <div>
      {{ post.teaser }}
    </div>
    <div>
      <a href="{% url 'post_detail' post.id %}" class="btn btn-default pull-right">Read more...</a>
    </div>
  </content>
  <br />
  <hr />
  <br />
</article>
{% endfor %}

<div>
  <nav>
    <ul class="pager">
      {% if page_obj.has_previous %}
      <li class="previous">
        <a href="{% url 'home' %}?page={{ page_obj.previous_page_number }}">
          <span>&laquo; Previous</span>
        </a>
      </li>
      {% else %}
      <li class="previous disabled">
        <span>&laquo; Previous</span>
      </li>
      {% endif %}

      {% if page_obj.has_next %}
      <li class="next">
        <a href="{% url 'home' %}?page={{ page_obj.next_page_number }}">
          <span>Next &raquo;</span>
        </a>
      </li>
      {% else %}
      <li class="next disabled">
        <span class="disabled">Next &raquo;</span>
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endblock %}
